# Introduction to Python

Welcome to the first section of this course! 

*Jupyter Notebooks* allow you to create and share documents that contain programming code, equations, visualizations, and explanatory text. They have been very popular for data cleaning and transformation, numerical simulation, statistical modeling, machine learning, and much more. We will be using Notebooks throughout the course to conduct powerful data analyses.

Python code is written in *cells* which you can execute on your computer. You can run the Notebook step-by-step (one cell at a time) by clicking on a particular cell and pressing **Shift + Enter**. You can also run the whole notebook (all cells) in a single step by clicking on **Cell -> Run All** in the menu.

To restart the Notebook Kernel (i.e., the computational engine behind this document), click on the **Kernel -> Restart** in the menu. This can be useful to start over a computation from scratch (e.g., variables are deleted, open files are closed, etc.).

Click on **Help -> User Interface Tour** for an overview of the Jupyter Notebook App user interface.

Enter `3+5` into the following cell, make sure the cell is highlighted, and press **Shift + Enter** to compute the result:

In [1]:
3+5

8

In [2]:
3*15

45

In [3]:
3**2

9

In [4]:
3**2

9

In [5]:
15%4

3

In [6]:
"Hello World"

'Hello World'

In [7]:
print "Hello World!"
print  "Hello World"[0]
print   "Hello World!"]2:5
print    "Hello World!" *2
print    "Hello World"[:6] + "Data Science!"

SyntaxError: invalid syntax (<ipython-input-7-45ef75515053>, line 3)

In [8]:
print "Hello World!"
print "Hello world!"[0]
print "Hello World!"[2:5]
print  "Hello World"[2:]
print "Hello World!"  *2
print "Hello World!" [:6] + "Data Science!"

Hello World!
H
llo
llo World
Hello World!Hello World!
Hello Data Science!

In [9]:
x = 500
y = 300
name = "John"

print X
print y
print name

NameError: name 'X' is not defined

In [10]:
x = 500
y = 300
name = "John"

print x
print y
print name

500
300
John

In [11]:
a <- x+ y
b <- x+ name

print a 
print b

NameError: name 'a' is not defined

In [12]:
a = x+ y
print a

800

In [13]:
b = x + name
print b

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [14]:
10 == 10

True

In [15]:
10 !=9

True

In [16]:
23 >= 9

True

In [17]:
23 !>=9

SyntaxError: invalid syntax (<ipython-input-17-f4a4463236b6>, line 1)

In [18]:
23 != 9

True

In [19]:
90 != 9*10

False

In [20]:
100 != 10 * 10

False

In [21]:
100 != 90

True

In [22]:
99 != 98+1

False

In [23]:
0 !=0

False

In [24]:
str[x+name]

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [25]:
str[x] +name

TypeError: 'type' object has no attribute '__getitem__'

In [26]:
str[x] +name

TypeError: 'type' object has no attribute '__getitem__'

In [27]:
str(x)+name

'500John'

In [28]:
10 == 10

True

In [29]:
5 ==5

True

In [30]:
100 == 50%2

False

In [31]:
50%%2

SyntaxError: invalid syntax (<ipython-input-31-da75727e332f>, line 1)

In [32]:
50%2

0

In [33]:
0 == 50%2

True

In [34]:
89%2

1

In [35]:
1 == 89%2

True

In [36]:
23 >= 9

True

In [37]:
99 != 98+1

False

In [38]:
0 !=0

False

In [39]:
FALSE and FALSE

NameError: name 'FALSE' is not defined

In [40]:
 10 == 10 and 10>= 10

True

In [41]:
10 == 10 or 10 <=9

True

In [42]:
1**2

1

In [43]:
10%10

0

In [44]:
33 <-33 or not 93<4

True

In [45]:
or not

SyntaxError: invalid syntax (<ipython-input-45-4b4c97d34a74>, line 1)

In [46]:
"x" == "x"

True

In [47]:
#compare strings "x"="x"

In [48]:
TRUE or not FALSE and FALSE

NameError: name 'TRUE' is not defined

In [49]:
True or not False and False

True

In [50]:
 result_one = 10 > 10
print result_one
result_two = 10 == 10
print result_two
result_three = (10 == 10 or 20 > 25) and 5 > 0 print result_three

SyntaxError: invalid syntax (<ipython-input-50-0b842479cddc>, line 5)

In [51]:
if 5 >3:
    print "5 is larger than 3."

5 is larger than 3.

In [52]:
if 5 >3:
    print"5 is larger than 3."
else:
    print"3 is larger than 5."

5 is larger than 3.

In [53]:
if 5 <6:
    print"Do not print me."
elif 5<6:
    print"Print me."
else:
    print"Do not print me either."

Do not print me.

In [54]:
x = 5

if x <0:
    print"Negative."
elif x ==0:
    print"nothing is printed."
else:
    print"Positive."

Positive.

In [55]:
x = 7

if x <0:
    print"Negative."
elif x >0:
    print"Positive"

Positive

In [56]:
employees = ["Hannah", "Max", "Daniel", "Christina"]
print "Employee at index 0 is " + employees[0]
print "Employee at index 1 is " + employees[1]
print "Employee at index 2 is " + employees[2]
print "Employee at index 3 is " + employees[3]

Employee at index 0 is Hannah
Employee at index 1 is Max
Employee at index 2 is Daniel
Employee at index 3 is Christina

In [57]:
numbers =[3,4,5,6,7]

In [58]:
print "Employee at index 1 is " +number[0]
print ""+ number[1]
print "" + number[2]
print "" + number[3]
print "" + number[4]

NameError: name 'number' is not defined

In [59]:
number[0]+ number[4]

NameError: name 'number' is not defined

In [60]:
number[0] + number[4]

NameError: name 'number' is not defined

In [61]:
numbers[0] + numbers[4]

10

In [62]:
numbers[0] + numbers[1] + numbers[2] + numbers[3] + numbers[4]

25

In [63]:
employees = ["Hannah", "Max", "Daniel", "Christina"] 
employees[2] = "Georges"
print employees

['Hannah', 'Max', 'Georges', 'Christina']

In [64]:
employees[1]= "Samantha"

In [65]:
print employees

['Hannah', 'Samantha', 'Georges', 'Christina']

In [66]:
employees =["Hannah", "Max", "Daniel", "Christina"]

In [67]:
emplyees[0] = "Samantha"

NameError: name 'emplyees' is not defined

In [68]:
employees[0] = "Samantha"

In [69]:
print employees

['Samantha', 'Max', 'Daniel', 'Christina']

In [70]:
employees[4] = "Samantha"

IndexError: list assignment index out of range

In [71]:
employees[-1] = "Tyler"

In [72]:
print employees

['Samantha', 'Max', 'Daniel', 'Tyler']

In [73]:
print len(employees)

4

In [74]:
employees.append("Greg")
print len (employees)

5

In [75]:
list.count(employees)

TypeError: count() takes exactly one argument (0 given)

In [76]:
number.append(9)

NameError: name 'number' is not defined

In [77]:
numbers.append(9)

In [78]:
numbers

[3, 4, 5, 6, 7, 9]

In [79]:
numbers.count()

TypeError: count() takes exactly one argument (0 given)

In [80]:
numbers.count()

TypeError: count() takes exactly one argument (0 given)

In [81]:
numbers.count(5)

1

In [82]:
print len(employees)

5

In [83]:
slice = employees[0:3]
print slice

['Samantha', 'Max', 'Daniel']

In [88]:
dict = {"Name": "Greg", "Division": "Data Analytics", "Salary": 68000}
print dict["Name"]
print dict["Division"]
print dict["Salary"]
dict["Location"] = "London"

Greg
Data Analytics
68000

In [85]:
"Name" in dict

True

In [86]:
dict = "Salary"

In [87]:
print dict["Salary"]

TypeError: string indices must be integers, not str

In [89]:
 dict = {"Name": "Greg", "Division": "Data Analytics", "Salary": 68000}
print dict["Name"]
print dict["Division"]
print dict["Salary"]
dict["Location"] = "London"

Greg
Data Analytics
68000

In [90]:
print dict["Salary"]

68000

In [91]:
 dict = {"Name": "Greg", "Division": "Data Analytics", "Salary": 103000}
print dict["Name"]
print dict["Division"]
print dict["Salary"]
dict["Location"] = "London"

Greg
Data Analytics
103000

In [92]:
## we use a if statement if can preveny reading from a absent key

In [93]:
employees = ["Hannah", "Max", "Daniel", "Christina"]
for name in employees:
    print name
    
for name in employees:
        if len(name) >3:
            print "Long name:", name
        else:
            print "Short name:", name

Hannah
Max
Daniel
Christina
Long name: Hannah
Short name: Max
Long name: Daniel
Long name: Christina

In [94]:
## for loops will go through each element similar to JAVA

In [95]:
dict = {"Name": "Greg", "Division": "Data Analytics", "Salary":68000}

In [96]:
for element in dict:
    print element

Salary
Division
Name

In [102]:
for key in dict:
    print(key)
    print dict[key]
    if key == "Name":
        print "this a name key"

Salary
68000
Division
Data Analytics
Name
Greg
this a name key

In [100]:
## itierates each key you need reference same way a list of a llist with an index

In [103]:
def main():
    stocks = {
        'IBM': 146.48,
        'MSFT':44.11,
        'CSCO':25.54
    }

    #print out all the keys
    for c in stocks:
        print(c)

    #print key n values
    for k, v in stocks.items():
        print("Code : {0}, Value : {1}".format(k, v))

if __name__ == '__main__':
    main()

CSCO
IBM
MSFT
Code : CSCO, Value : 25.54
Code : IBM, Value : 146.48
Code : MSFT, Value : 44.11

In [104]:
for k in dict:
    print k

Salary
Division
Name

In [105]:
for k, v in dict.items():
    print(k,v)

('Salary', 68000)
('Division', 'Data Analytics')
('Name', 'Greg')

In [106]:
range(10)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [107]:
employees = ["Hannah", "Max", "Daniel", "Christina"]

In [108]:
for x in range(len(employees)):
    print "Employee %i: %s" % (x+1, employees[x])

Employee 1: Hannah
Employee 2: Max
Employee 3: Daniel
Employee 4: Christina

In [109]:
for key, value in my_dict.iteritems():
    print key, value

NameError: name 'my_dict' is not defined

In [110]:
my_dict = {
    'key1': 'value1',
    'key2': 'value2',
    'key3': 'value3'
}

In [111]:
for item in my_dict:
    print item

key3
key2
key1

In [112]:
for item in my_dict:
    print my_dict[item]

value3
value2
value1

In [113]:
x=0
while x < 100:
    print x
    print +=1
    
## while loops can also be used to iterate list over lists
employees=["Hannah", "Max", "Daniel", "Christina"]

SyntaxError: invalid syntax (<ipython-input-113-2c7732aaf876>, line 4)

In [114]:
x=0
while x < 100:
    print x
    print +=1

employees=["Hannah", "Max", "Daniel", "Christina"]

SyntaxError: invalid syntax (<ipython-input-114-4be97162bd2a>, line 4)

In [115]:
x = 0 
while x < 100:
    print x 
    x += 1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [116]:
employees = ["Hannah", "Max", "Daniel", "Christina"]

In [117]:
idx = 0 
while idx < len(employees):
    print("Employee %i: %s" %(idx+1, employees[idx]))
    idx += 1

Employee 1: Hannah
Employee 2: Max
Employee 3: Daniel
Employee 4: Christina

In [118]:
def add(x,y):
    return x + y 

print "3+5 is", add(3,5)
print "7+1 is", add(7,1)
print "3-2 is", add(3,-2)

3+5 is 8
7+1 is 8
3-2 is 1

In [119]:
print add(5,3)

8

In [120]:
def add_three(x,y,z):
    return add(add,x,y),z)

SyntaxError: invalid syntax (<ipython-input-120-f3e21227f3c8>, line 2)

In [121]:
def add_three(x,y,z):
    return add(add(x,y),z)

In [122]:
add_three(x=5, y=2, z=3)

10

In [123]:
old salary = [90000, 80000, 80000, 87000]

def increase_salary(old salary, percentage):

SyntaxError: invalid syntax (<ipython-input-123-c31ea476a9fb>, line 1)

In [124]:
old salary = [90000, 80000, 80000, 87000]
percentage = [5%, 6%, 7%, 8%]

SyntaxError: invalid syntax (<ipython-input-124-ea35aa2a4562>, line 1)

In [125]:
percentage = ["5%", "6%", "7%". "8%"]

SyntaxError: invalid syntax (<ipython-input-125-c18b6ddb273b>, line 1)

In [126]:
old salary = [90000, 80000, 83020, 78000]

SyntaxError: invalid syntax (<ipython-input-126-1f658a95ab67>, line 1)

In [129]:
salaries = [26500, 25000, 90000, 65000, 27000, 30000]
employees = ["Hannah", "Max", "Daniel", "Christina"]

In [128]:
def increase_salary(old salary, percentage){
    Return employee increased_salary
}

SyntaxError: invalid syntax (<ipython-input-128-0e3c043a55cd>, line 1)

In [130]:
def increase_salary(x,y):
        return x +(x*y)
for salary in salaries:
    print increased_salary(salary,0.2)

NameError: name 'increased_salary' is not defined

In [132]:
def increase_salary(x,y):
    return x + (x*y)

for salary in salaries:
    print increase_salary(salary,0.2)

31800.0
30000.0
108000.0
78000.0
32400.0
36000.0

In [133]:
def increase_salary(x,y):
    return x + (x*y)

for salary in salaries:
    print increase_salary(salary,0.2)
## you change to 1.2 percentage or 9.2

31800.0
30000.0
108000.0
78000.0
32400.0
36000.0

In [135]:
def increase_salary(x,y):
    return x + (x*y)

for i in salaries:
    print increase_salary(i,0.2)

31800.0
30000.0
108000.0
78000.0
32400.0
36000.0

In [136]:
print sqrt(25)

NameError: name 'sqrt' is not defined

In [137]:
print sqrt(25)

NameError: name 'sqrt' is not defined

In [138]:
import math
## a lot mathematical and statitsical that you can do it.

In [139]:
print math.sqrt(25)

5.0

In [140]:
from math import sqrt
print sqrt(25)

5.0

In [141]:
print "2 times 2 is", 2*2

2 times 2 is 4

In [142]:
print ("2 times 2 is", 2*2)

('2 times 2 is', 4)

In [143]:
import pandas

In [144]:
import pandas as pd

In [145]:
df = pd.read_csv('data/Stock_px.csv', parse_dates=True, index_col=0)